body {
  margin: 0;
  font-family: 'Recursive', sans-serif;
  font-family: 'Girassol', cursive;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Acme', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
